[Unit]
Description=gunicorn daemon for Kittygram project
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/infra_sprint1/backend
ExecStart=/home/ubuntu/infra_sprint1/backend/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8080 kittygram_backend.wsgi:application
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
